/* .{background-color: #313131} */
 .rotating-slider ul.slides li:nth-of-type(1){background: #3498db;}
 .rotating-slider ul.slides li:nth-of-type(2){background: url('../img/slider1.jpg');background-position: 50%}
 .rotating-slider ul.slides li:nth-of-type(3){background: #e74c3c;}
 .rotating-slider ul.slides li:nth-of-type(4){background: url('../img/slider2.jpg');background-position: 50%}
 .rotating-slider ul.slides li:nth-of-type(5){background: #f1c40f;}
 .rotating-slider ul.slides li:nth-of-type(6){background: url('../img/slider3.jpg');background-position: 50%}

 #container {
    position: relative;
    top: 150px;
    width: 100%;
    height:3000px;
    background-color: yellow;
    
 }

.left {
    display: inline-block;
    padding: 2% 5%;
     width: 50%;
     height: 890px;
     background-color: pink;
     overflow: hidden;
 }

 .inner h1,.inner p {
     font-size: 40px;
 }

 .right {
     display: inline-block;
     /* float: right; */
     width: 40%;
     height: 890px;
     background-color: blue;
     font-size: 100px;
     text-align: center;
     vertical-align: middle;
 }